.headerComponentContainer {
    margin: 0 1rem;
    .header {
        .section1 {
            padding: 2rem 0 0 0;
            .logo {
                margin-left: 1.5rem;
                color: #F4A80A;
            }
            .punchline {
                margin-left: 4.5rem;
            }
        }
        .section2 {
            .navbar {
                .navbar-links {
                    display: flex;
                    justify-content: end;
                    align-items: end;
                    .navbar-link {
                        background-color: #F4A80A;
                        list-style-type: none;
                        padding: 1rem 4rem;
                        border: 1px solid #fefefe;
                        .link {
                            text-decoration: none;
                            color: #fefefe;

                        }
                    }
                }
            }
        }
    }
}