<div class="headerComponentContainer">
    <header class="header">
        <div class="section1">
            <h1 class="logo">Logo Here</h1>
            <p class="punchline">Have your punchline here</p>
        </div>
        <div class="section2">
            <nav class="navbar">
                <ul class="navbar-links">
                    <li class="navbar-link"><a href="#" class="link">Home</a></li>
                    <li class="navbar-link"><a href="#" class="link">About us</a></li>
                    <li class="navbar-link"><a href="#" class="link">Technology</a></li>
                    <li class="navbar-link"><a href="#" class="link">Contact us</a></li>
                </ul>
            </nav>
        </div>
    </header>
</div>