<div class="mainDataComponentContainer">
    <section class="section1">
        <div class="banner">
            <h1 class="heading">inventions</h1>
            <h3 class="subHeading">for the wireless world</h3>
        </div>
    </section>
    <section class="section2">
        <div class="content">
            <h2 class="contentHeader">Hello!</h2>
            <p class="paragraph paragraph1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto voluptatibus possimus temporibus laborum. Odio quia cumque maxime rerum ipsam mollitia ex reprehenderit similique necessitatibus quae, in cum laborum ad dicta fugit culpa tenetur impedit accusamus, voluptatem deleniti assumenda porro. Aut amet dolore dolorem sapiente accusamus corrupti ullam facere labore sunt enim, sint cupiditate reiciendis quod cumque necessitatibus similique voluptas iusto quibusdam quasi. Rerum ipsam nulla similique qui, omnis, illo, quibusdam ratione atque officia ullam ipsa ex? Necessitatibus laboriosam architecto asperiores odio saepe neque, tenetur ipsa veniam quisquam, repudiandae nihil quidem, in aperiam atque culpa unde aliquid velit cum fuga cumque.</p>
            <p class="paragraph paragraph2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam ex deserunt laudantium est quia commodi vel, quae officia asperiores alias repellat nobis! Possimus voluptates labore praesentium, sit veniam illo eaque distinctio ullam accusamus animi, officia cumque nesciunt laudantium? Velit iste esse ullam dolorem, numquam facilis, vel nesciunt eos voluptates accusantium illo laudantium consequatur doloribus? Corrupti atque natus placeat ullam, veniam voluptatum. Hic autem corporis vero beatae dolorum fugiat, provident asperiores non, maiores porro rerum eius. Cumque repudiandae exercitationem beatae vitae quo. Dolor dolorum aspernatur incidunt voluptas repellat minus facilis consectetur hic accusantium doloremque dignissimos similique asperiores, qui quo ipsam eius?</p>
            <a href="#" class="more">more ></a>
        </div>
        <div class="news-bar">
            <h2 class="Heading">latest news</h2>
            <div class="newsBox">
                <a class="date">12/8/2021</a>
                <p class="news">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Utid anisl nec leo congue fringilla.</p>
            </div>
            <div class="newsBox">
                <a class="date">10/8/2021</a>
                <p class="news">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Utid anisl nec leo congue fringilla.</p>
            </div>
            <div class="newsBox">
                <a class="date">28/7/2021</a>
                <p class="news">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Utid anisl nec leo congue fringilla.</p>
            </div>
        </div>
    </section>
</div>
